/* HEADER */
@media screen and (min-width: 768px) {
    .cont-header{
        width: 90%;
        margin: 0 auto;
}
}

@media screen and (min-width: 992px) {
    .cont-header{
        width: 80%;
    }

    .hamburger{
        display: none;
    }
    
    
    .list-header {
        display: block;
    }    
    
}

/* MAIN */
@media screen and (min-width: 768px) {
    .contenitore{
        width: 90%;
        margin: 0 auto;
}

    .column{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .first-col{
        width: 65%;
    }

    .col{
        width: 30%;
        margin: 20px 0;
    }

    .first-col>p, .second-col>p{
        font-size: 0.7rem;
    }

    .first-col>h3, .second-col>h3{
        font-size: 1.4rem;
    }

}

@media screen and (min-width: 992px) {
    .contenitore{
        width: 80%;
    }

    .column{
        padding-bottom: 50px;
    }

    .col{
        margin: 10px 5px;
    }

    .first-col{
        width: 65%;
        display: flex;
        height: 30%;
    }

    .second-col{
        padding: 0;
    }
    .second-col>h5{
       
        font-size: 1.3rem;
        
    }
    .second-col>p {
        font-size: 0.7rem;
        line-height: 1rem;
    } 

    .img-col {
        padding-top: 50px;
        width: 80%;
    }    
} 

/* STATEGIC PLAN */

@media screen and (min-width: 768px){
    .strategia>h3 {
        font-size: 3rem;
    }
}

@media screen and (min-width:992px) {
    .strategic-cont{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
        width: 70%;
    }

    .strategia{
        width: 40%;
        margin: 0;
    }

   

    .development{
        margin-top: 6rem;
        margin-left: 2rem;
        width: 45%;
        height: 30%;
        padding: 10px 10px 15px 10px;
    }

    .strategia>h3{
        font-size: 1.4rem;
    }

    .strategia>p{
        font-size: 0.8rem;
       
       
    }

    .development>img{
        width: 50%;
    }

    .development>h3{
        font-size: 1rem;
      
    }

     .development>p{
      font-size: 0.8rem;
      font-weight: bold;
     }
}
     

