/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
    color: white;
}

body{
    font-family:"PT Sans", sans-serif;
}

.flex{
    display: flex;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    padding: 25px 0;
}


.logo img{
    width:40%;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

/* HEADER */
.cont-header{
    width: 80%;
    max-width: 1100px;
    margin:0 auto;
    justify-content: space-between;
}

header{
    background-color: #0084fd;
    width: 100%;
    align-content: center;
    margin: 0 auto;
}

.list-header{
    display:none;
}

.get-starred{
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.hamburger{
    background-color: #0084fd;
    border: none;
    color: white;
}

/* HERO */

.col{
    background-color: #b5ddff;
    border-radius: 20px;
    margin: 15px auto;
    text-align: left;
    padding: 15px 15px 0 15px;
}

.first-col>p{
    font-weight: 900;
    color: gray;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.7rem;
}

.img-col{
    display: flex;
}

.first-col>h3{
    color: #0084fd;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.7rem;
}

.button-col{
    background-color: #0084fd;
    border: none;
    border-radius: 10px;
    padding: 7px 40px;
    margin: 20px 0;
}
.button-col>a{
    color: white;
}

.second-col {
    text-align: center;
    padding: 20px 10px;
}

.second-col>i{
    font-size: 6rem;
    color: #0084fd;
}


.second-col>h5{
    color: #0084fd;
    padding: 10px 0;
}

.second-col>p{
    font-weight: 900;
    color: gray;
    padding-top: 10px 0px 20px 0px;
}


