/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
    color: white;
}

body{
    font-family:"PT Sans", sans-serif;
}

.flex{
    display: flex;
}

.logo img{
    width:40%;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

/* HEADER */
.cont-header{
    width: 80%;
    max-width: 1100px;
    margin:0 auto;
    justify-content: space-between;
}

header{
    background-color: #0084fd;
    width: 100%;
    align-content: center;
    margin: 0 auto;
}

.list-header{
    display:none;
}

.get-starred{
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.hamburger{
    background-color: #0084fd;
    border: none;
    color: white;
}
